      {{#if isMale}}
      <img onload='checkGender()' class="ui medium circular image" src="/assets/images/maleStudent.png">
      {{else}}
      <img onload='checkGender()' class="ui medium circular image" src="/assets/images/femaleStudent.png">
      {{/if}}