<div class="four wide column">
    {{#link-to 'student' model.firstObject.id}}
    <button class="ui button small" >
        <i class="fa-arrow-left icon"></i><i class="fa-arrow-left icon"></i>
        First
    </button>
    {{/link-to}}
</div>