<div class="four wide column">
  {{input type="text"  value = searchNumber}}
</div>
<div class="four wide column">
  <button class="ui button small" {{action 'search' searchNumber}}>
        Search
    </button>
</div>
