<div class="four wide column">
    {{#if showHelp}}
    <button class="ui button" {{action 'displayHelp'}}>
        <i class="help icon"></i>
        Help
    </button>
    {{else}}
    <button class="ui button" {{action 'hideHelp'}}>
    <i class="help icon"></i>
       Hide  Help
    </button>
    <p> Welcome to the help tab. All the controls for accessing the database <br>
        can be found inside the two black navigation bars. Outputs from <br> 
        these controls can be seen in the text fields below. <br> </p>
    <p> -Save: Save changes to the student record to the database. <br>
        -Undo: Rollback one recent change in the database.<br>
        -First Record: Display the first record in the database.<br>
        -Previous Record: Sorted by student number, will return the previous <br>
         student ID. <br>
        -All Records: displays a list of all students in the student database <br>
        -Next Record: Sorted by student number, will return the next student ID <br>
        -Last Record: Will display the last student in the database.
        </p>
    {{/if}}
</div>
