<div class="four wide column">
    {{#link-to 'student' model.lastObject.id}}
    <button class="ui button">
        <i class="fa-arrow-right icon"></i><i class="fa-arrow-right icon"></i>
        Last Record 
    </button>
    {{/link-to}}
</div>
