<div class="ui segment container">
  <img class="ui medium centered  image" src="/assets/images/logoPic.jpg">
  <h1 class="ui centered header">Students Records</h1>
  <div class="ui stackable container inverted menu">

    <!-- TOP MENU ROW -->
  
    
    <!-- Show All records toggle-->

    <a class="item ">
    
    {{#if showList}}
    <button class="ui button center" {{action 'displayList'}}>
       {{#link-to 'students'}} All Records {{/link-to}}
    </button>
    {{else}}
    
    <button class="ui button center" {{action 'hideList'}}>
  
     {{#link-to 'empty'}} Close All Records {{/link-to}}
    </button>
    
  
    {{/if}}
    </a>
    
    <a class="item center">
      <- Begin by clicking All Records 
    </a>


      <!-- Help button -->
     <a class="item right">
        {{he-lp}}
    </a>

    
    
  </div> <!-- END OF MENUS -->
</div>