 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
<div class="four wide column">
    <button class="ui button small-btn" {{action 'nextRecord' oneUser.id}}>
        <i class="fa-arrow-right icon"></i>
        Next Record 
    </button>
</div>