  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<button class="ui button small"  >
  {{#link-to 'students'}} Go Back {{/link-to}}
  
 </button>


<div class="ui grid" {{action 'checkGender'}}>
    <div class="two wide column"></div>
    <div class="four wide column">
      <label>Student Number:</label>
      {{input type="text"  value = selectedStudent.number}}
    </div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="two wide column"></div>
    <div class="two wide column"></div>
    <div class="four wide column">
      <label>First Name:</label>
      {{input type="text"  value = selectedStudent.firstName}}
    </div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="two wide column"></div>
    <div class="two wide column"></div>
    <div class="four wide column">
      <label>Last Name:</label>
      {{input type="text"  value = selectedStudent.lastName}}
    </div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="two wide column"></div>
    <div class="two wide column"></div>
    <div class="four wide column">
      <label>Gender:</label>
      {{
      input type="text"  value = selectedStudent.gender}}
    </div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="two wide column"></div>
    <div class="two wide column"></div>
    <div class="four wide column">
      <div class="ui selection dropdown">
          <input type="hidden" name="residency">
            <i class="dropdown icon"></i>
              <div class="default text">Residency</div>
              <select class="ui dropdown" value="{{selectedStudent.residency}}">
                <option value="2">Canadian</option>
                <option value="1">Permanent</option>
                <option value="0">International</option>
                <option value = ""></option>
              </select>
        </div>
    </div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="two wide column"></div>
    <div class="two wide column"></div>
    <div class="four wide column">
      <select class="ui dropdown" value="{{selectedStudent.gender}}">
        <option value="">Gender</option>
        <option value="2">Male</option>
        <option value="1">Female</option>
      </select>
    </div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="two wide column"></div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="four wide column">
      
    <!-- Gender code used to be here -->
        {{#if action 'returnGender'}}
        <img class="ui medium circular image right" src="/assets/images/maleStudent.png">
      {{else}}
        <img class="ui medium circular image right" src="/assets/images/femaleStudent.png">
      {{/if}}
    </div>
    <!-- gender code ended here -->
    
    <div class="four wide column">
    <button class="ui button small" style="width:100px;height:40px;" {{action 'save' selectedStudent.id}}>
        <i class="save icon"></i> 
         Save
    </button>
    </div>
    <div class="four wide column">
      <button class="ui button small" style="width:100px;height:40px" {{action 'undo'}}>
        <i class="undo icon"></i>
        Undo
    </button>
    </div>
    <div class="four wide column">
      <button class="ui button small" {{action 'getFirst'}} >
        <i class="fa-arrow-left icon"></i><i class="fa-arrow-left icon"></i>
        First Record
    </button>
    <button class="ui button" {{action 'getLast'}}>
        <i class="fa-arrow-right icon"></i><i class="fa-arrow-right icon"></i>
        Last Record 
    </button>
    <button class="ui button small-btn" {{action 'nextRecord' selectedStudent.id}}>
        <i class="fa-arrow-right icon"></i>
        Next Record 
    </button>
    <button class="ui button small "  {{action 'prevRecord' selectedStudent.id}}>
        <i class="fa-arrow-left icon"></i>
        Previous Record
    </button>

    <!-- Go back button to the all students display -->
    
     
     
     
     
    </div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
</div>