{{menu-items}}
  
  {{outlet}}
     
  <footer>
    <div class="ui black inverted grid segment">
      <div class="thirteen wide column">
        © Copyright - CCMJ Enterprises
      </div>
      <div class="three wide column">
        <img class="ui right aligned container tiny image" src="/assets/images/logoPic.jpg">
      </div>
    </div>
  </footer>