<div class="ui segment container">
  <img class="ui small centered  image" src="/assets/images/logoPic.jpg">
  <h1 class="ui centered header">Students Records</h1>
  <div class="ui inverted menu">
    <a class="item">
      <i class="home icon"></i>
      {{#link-to 'student'}}Student{{/link-to}}
    </a>
    </div>
  </div>
    {{outlet}}
  <footer>
    <div class="ui black inverted grid segment">
      <div class="thirteen wide column">
        © Copyright - CCMJ Enterprises
      </div>
      <div class="three wide column">
        <img class="ui right aligned container tiny image" src="/assets/images/logoPic.jpg">
      </div>
    </div>
  </footer>
