<div class="ui grid">
<div class="four wide column">
      {{#link-to 'student' model.firstObject.id}}
      <button class="ui button small" >
        <i class="fa-arrow-left icon"></i><i class="fa-arrow-left icon"></i>
        First
    </button>
    {{/link-to}}
</div>
<div class="four wide column">
  {{input type="text"  value = searchNumber}}
</div>
<div class="four wide column">
  <button class="ui button small" {{action 'search' searchNumber}}>
        Search
    </button>
</div>

<div class="four wide column">
  {{#link-to 'student' model.lastObject.id}}
      <button class="ui button small" >
        <i class="fa-arrow-right icon"></i><i class="fa-arrow-right icon"></i>
        Last
    </button>
    {{/link-to}}
</div>
</div>
<table class="ui celled table">
  <thead>
    <tr><th>Student Number</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date of Birth</th>
    <th>Gender</th>
    <th>Residency</th>
  </tr></thead>
  <tbody>
 {{#each model as |oneStudent|}}
    <tr>
      <td>{{#link-to 'student' oneStudent.id }}{{oneStudent.number}}{{/link-to}}</td>
      <td>{{oneStudent.firstName}}</td>
      <td>{{oneStudent.lastName}}</td>
      <td>{{oneStudent.DOB}}</td>
      <td>{{oneStudent.gender}}</td>
      <td>{{oneStudent.residency}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
